<div ng-controller="NewsAddCtrl">
    <div class="row">
        <div class="col-lg-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="title" class="col-sm-1 control-label">新闻标题</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="title" placeholder="新闻标题" ng-model="title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="author" class="col-sm-1 control-label">新闻作者</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="author" placeholder="新闻作者" ng-model="author">
                    </div>
                </div>
                <div class="form-group">
                    <label for="date" class="col-sm-1 control-label">发布时间</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="date" placeholder="发布时间" ng-model="date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="customlink" class="col-sm-1 control-label">自定义链接</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="customlink" placeholder="默认为该文章地址,如需指向其他链接,请填写此处,否则留空" ng-model="custom_link">
                    </div>
                </div>

                <div flow-init="{target: '/upload/news',testChunks:false}"
                     flow-files-submitted="$flow.upload()"
                     flow-file-success="uploadSuccess($message)">
                    <div class="form-group">
                        <label  class="col-sm-1 control-label">自定义封面</label>

                        <div class="col-sm-9">
                            <span class="btn btn-default btn-sm" flow-btn><i class="fa fa-image"></i>选择图片</span>
                            <span ng-hide="uploaddone" class="alert-info">210X128. 图片上传前请先压缩,尽量在300k以内,请等待图片上传完成后再点击确认按钮,图片上传完成后此处文案会变化!</span>
                            <span ng-show="uploaddone" class="alert-info">图片上传完毕,可以点击确认按钮</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <img src="http://www.placehold.it/210X128/DDDDDD/AAAAAA&amp;text=210X128"
                                 ng-show="!$flow.files.length" width="210" height="128"/>
                            <img flow-img="$flow.files[0]" ng-show="$flow.files.length" width="210" height="128"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date" class="col-sm-1 control-label">新闻内容</label>

                    <div class="col-sm-9">
                        <p class="alert-info">默认选用文章中第一幅图片作为新闻列表的缩略图.</p>
                        <div id="container"  config="ct" ng-model="content" lock-umeditor></div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button ng-click="add()" class="btn btn-primary"><i class="fa fa-send-o"></i> 发布</button>
                        <a class="btn btn-default" href='/#/news'><i class="fa fa-close"></i> 返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
