<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=640;target-densitydpi=device-dpi;minimum-scale=0.5;maximum-scale=2.0,user-scalable=yes"/>
    <title>宁静海官方网站</title>
    <meta name="keywords" content="炼妖传奇,宁静海官网">
    <meta name="description" content="炼妖传奇,宁静海官网">
    <link rel="stylesheet" type="text/css" href="/m_statics/css/skm.css"/>
    <link rel="stylesheet" href="/m_statics/css/idangerous.swiper.css">
    <link rel="stylesheet" href="/m_statics/css/style_wap.css?v=1.8">
    <link rel="stylesheet" href="/m_statics/css/dialog.css">
    <link rel="stylesheet" href="/m_statics/css/swiper-demos.css?v=1.8">
    <style>
        .footer{padding: 20px 0;background: #b4cdd3;}
    </style>
</head>

<body>
<div id="wrap">
    <header style="height: 280px;overflow: hidden;">
        <div class="bg-banner-01">
            <div class="bg-banner-02">
            </div>
        </div>
    </header>


    <section>
        <div class="news_detail_title"><%= title %></div>
        <p class="news_detail_time">[<%= date %>]</p>

        <div class="news_detail_content"><%- content %>
        </div>

    </section>

    <div class="footer">
        <a onclick="history.back();">返回首页</a>
    </div>
    <p style="font-size:18px;margin-bottom:20px;text-align:center;padding: 15px 0;">Copyright&copy;2014-2016
        广州宁静海信息科技有限公司 All Rights Reserved.</p>
</div>

</body>
</html>
