<div data-ng-controller="ActivityCtrl">
    <div class="row">
        <div class="col-xs-12 col-lg-1 col-md-2">
            <a href="#/activity/add" class="btn btn-primary btn-sm"><span class="fa fa-plus"></span>添加活动</a>
        </div>
        <!--<div class="col-lg-4 col-md-4">-->
        <!--<div class="input-group">-->
        <!--<input type="text" class="form-control input-sm" placeholder="输入新闻标题..." ng-model="keyword">-->
        <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-primary btn-sm" type="button" ng-click="search(keyword)">-->
        <!--<span class="fa fa-search"></span>搜索-->
        <!--</button>-->
        <!--</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 col-md-4 col-lg-offset-1 col-sm-6" style="line-height: 30px;text-align: right">-->

        <!--<button class="btn btn-sm btn-default" ng-click="jumpPrev()" ng-disabled="currentPage<=1"><span class="fa fa-arrow-left"></span></button>-->
        <!--<button class="btn btn-sm btn-default" ng-click="jumpNext()" ng-disabled="totalCount/30<=1"><span class="fa fa-arrow-right"></span></button>-->
        <!--共{{totalCount}}篇新闻,当前页数:{{currentPage}}.-->
        <!--</div>-->
        <!--<div class="col-xs-6 col-md-2 col-sm-6 ">-->
        <!--<div class="input-group">-->
        <!--<input type="text" class="form-control input-sm" placeholder="输入页码..." ng-model="jPage">-->
        <!--<span class="input-group-btn" ng-click="jump(jPage)">-->
        <!--<button class="btn btn-default btn-sm" type="button"><span class="fa fa-share"></span></button>跳转-->
        <!--</span>-->
        <!--</div>-->
        <!--</div>-->
    </div>


    <div class="row">

        <div class="col-sm-6 col-md-4" ng-repeat="data in dataList">
            <div class="thumbnail"><img ng-src="{{data.img}}" style=" width: 100%; display: block;">
                <div class="caption">
                    <h3>{{data.title}}</h3>
                    <p><i class="fa fa-sort-numeric-asc"></i>展示顺序: {{data.sort}} (<span class="text-danger">数字大者靠前.</span>) </p>
                    <p><i class="fa fa-link"></i>活动链接: <a ng-href="data.link">{{data.link}}</a></p>
                    <p><i class="fa {{data.is_show==1?'fa-check':'fa-close'}}"></i>活动状态: <span ng-class="{'text-primary':data.is_show==1,'text-danger':data.is_show==0}">{{data.is_show==1?'开启中':'已关闭'}}</span></p>
                    <p><i class="fa fa-calendar"></i>创建时间: {{data.createdAt}}</p>
                    <p>
                        <a href="#/activity/edit/{{data.activity_id}}" class="btn btn-info btn-sm" role="button">编辑</a>
                        <a ng-click="delete(data.activity_id)" class="btn btn-danger btn-sm">关闭</a></p>
                </div>
            </div>
        </div>

    </div>
</div>
