<div class="jdt">
    <ul id="jdtBtn" style="list-style:none;">
        {{#activitys}}
            <li class="" ><img src="{{img}}" alt="{{title}}"></li>
        {{/activitys}}
    </ul>
    <ol style="width: 4254px; left: 0px;" id="jdtList">
        {{#activitys}}
            <li class="" ><a href="{{link}}"><img src="{{img}}" alt="{{title}}"></a></li>
        {{/activitys}}

    </ol>
</div>