<div class="jcarousel">
    <ul>
        {{#activitys}}
            <li class="" ><a href="{{link}}"><img src="{{img}}" alt="{{title}}"></a></li>
        {{/activitys}}
    </ul>
</div>
<p class="jcarousel-pagination"></p>