<ul id="right_item_yxzl">
    {{#links}}
        <li>
            <dl>

                    <dt class="c-af">
                        <span class="sub-title">{{name}}</span>
                        <a href="javascript:;"><img  class="thumb_img" src="{{resLocation}}/statics/images/ic_arrow_down.png" style="float: right;"/></a>
                    </dt>

                <dd class="c-af" style="display: block;">
                    {{#data}}
                    <div>
                        <img src="{{img}}"/><a href="{{s_link}}">{{title}}</a>
                    </div>
                    {{/data}}
                </dd>
            </dl>
        </li>
    {{/links}}

</ul>