<ul id="right_item_yxzl">
    {{#links}}
        <li>
            <dl>

                    <dt class="c-af">
                        {{name}}
                        <img src="http://p.skymoons.com/statics/images/pkq/t_img_yxzl_jcxt.png" style="float: left;"/>
                        <a href="javascript:;" id="jcxt"><img
                                src="http://p.skymoons.com/statics/images/pkq/ic_arrow_down.png" style="float: right;"
                                alt="基础系统"/></a>
                    </dt>

                <dd class="c-af" style="display: block;">
                    {{#data}}
                    <div>
                        <img src="{{img}}"/><a
                            href="/index.php?m=content&c=index&a=lists&catid=17&pc_hash=rgliSq" title="皮卡丘阵容系统">{{title}}</a>
                    </div>
                    {{/data}}
                </dd>
            </dl>
        </li>
    {{/links}}

</ul>