<div class="right_item_title">
    <img src="/statics/images/t_img_yqlj.png" alt="" title=""/>
</div>
<div id="friend_link">
    {{#links}}
        <a href="{{link}}" target="_blank"><img src="/{{img}}" style="width:120px;height:45px;margin-left:12px;margin-top:5px;*margin-top:3px;float:left;"/></a>
    {{/links}}
</div>