<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=640;target-densitydpi=device-dpi;minimum-scale=0.5;maximum-scale=2.0,user-scalable=yes"/>
    <title>《炼妖壶传奇》官方网站 - {{title}}</title>
    <meta name="keywords" content="炼妖壶 卡牌 炼妖壶传奇 妖 轩辕剑 手机游戏 传奇 网络游戏 手游 炼妖传奇 炼妖壶传">
    <meta name="description" content="潜心三年研发，开创全新卡牌对战玩法！100万玩家诚意推荐！2016最具诚意卡牌游戏。高度原创，与众不同！炼妖壶传奇为骨灰玩家量身定制，开创性的融合了回合RPG，TCG等富策略游戏，形成了全新的卡牌游戏流派。">
    <link rel="stylesheet" type="text/css" href="/m_statics/css/skm.css"/>
    <link rel="stylesheet" href="/m_statics/css/idangerous.swiper.css">
    <link rel="stylesheet" href="/m_statics/css/style_wap.css?v=1.8">
    <link rel="stylesheet" href="/m_statics/css/dialog.css">
    <link rel="stylesheet" href="/m_statics/css/swiper-demos.css?v=1.8">
    <style>
        .footer{padding: 20px 0;background: #b4cdd3;}
    </style>
</head>

<body>
<div id="wrap">
    <header style="height: 280px;overflow: hidden;">
        <div class="bg-banner-01 ">
            <div class="bg-banner-02 page_bg">
            </div>
        </div>
    </header>


    <section>
        <div class="news_detail_title">{{title}}</div>
        <p class="news_detail_time">[{{date}}]</p>

        <div class="news_detail_content">{{{content}}}
        </div>

    </section>

    <div class="footer">
        <a onclick="history.back();">返回首页</a>
    </div>
    <p style="font-size:18px;margin-bottom:20px;text-align:center;padding: 15px 0;">Copyright&copy;2014-2016
        广州宁静海信息科技有限公司 All Rights Reserved.</p>
</div>

</body>
</html>
