<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=640;target-densitydpi=device-dpi;minimum-scale=1;maximum-scale=1,user-scalable=no"/>
    <title>《炼妖壶传奇》官方网站</title>
    <meta name="keywords" content="炼妖壶,卡牌,炼妖壶传奇,妖,轩辕剑,手机游戏,传奇,网络游戏,手游,炼妖传奇,炼妖壶传,炼妖壶传奇官网,炼妖,炼魂">
    <meta name="description" content="潜心三年研发，开创全新卡牌对战玩法！100万玩家诚意推荐！2016最具诚意卡牌游戏。高度原创，与众不同！炼妖壶传奇为骨灰玩家量身定制，开创性的融合了回合RPG，TCG等富策略游戏，形成了全新的卡牌游戏流派。">
    <link rel="stylesheet" type="text/css" href="/m_statics/css/skm.css"/>
    <link rel="stylesheet" href="/m_statics/css/idangerous.swiper.css">
    <link rel="stylesheet" href="/m_statics/css/style_wap.css?v=1.8">
    <!--<link rel="stylesheet" href="/m_statics/css/dialog.css">-->
    <link rel="stylesheet" href="/m_statics/css/swiper-demos.css?v=1.8">
    <script src="/m_statics/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/m_statics/js/mod.js"></script>
    <script type="text/javascript" src="/m_statics/js/jCare.js"></script>
    <script src="/statics/js/clipboard.min.js"></script>
    <!-- Swiper -->
    <script src="/m_statics/js/idangerous.swiper-1.8.min.js"></script>
    <!-- Demos code -->
    <script src="/m_statics/js/swiper-demos.js?v=1.8"></script>
    <script src="/m_statics/js/wap_main.js?v=201509061745"></script>
</head>

<body>
<div id="wrap">
    <header>
        <div class="bg-banner-01">
            <div class="bg-banner-02">
                <!--href="http://120.76.123.168/apk/lyhcq-1.0.18.0.apk"-->
                <a class="ui-btn-d2" href="http://apk.njhgame.com/apk-cdn/1.3.1.0/njh-2016080313.apk" id="down_mobile_android"><span class="hid"></span></a>
                <a class="ui-btn-d3" href="https://itunes.apple.com/cn/app/id1094162823?mt=8" id="down_mobile_ios"><span class="hid"></span></a>
                <a class="ui-btn-d1" id="get-code"><span class="hid">领取礼包</span></a>


            </div>
        </div>
    </header>

    <section>
        <div class="ui-tit-style1"><span>游戏截图</span></div>
        <div class="content content-jcarousel">

            <!--#include file="/views/carousel.html" -->

        </div>
    </section>

    <section id="section_news" style="margin-top: 40px;">
        <ul class="ui-tit-style2" id="news_list_tab">
            <li class="li2 selected"></li>
            <li class="li1"></li>
            <li class="li3"></li>
            <li class="li4"></li>
        </ul>
        <!--#include file="/views/mobile_news.html" -->

        <!--#include file="/views/mobile_strategy.html" -->

        <!--#include file="/views/mobile_activity.html" -->

        <!--#include file="/views/mobile_news.html" -->

    </section>
    <section>
        <div class="anniu-m" id="btn_show_more_news">
            查看更多>>
        </div>
    </section>

    <div style="margin-top: 50px;">
        <img src="../statics/images/qrcode.jpg" style="display:block;margin:0 auto;width:400px;">
    </div>
    <p style="font-size:18px;margin-bottom:20px;text-align:center;padding: 15px 0;line-height:1.5;">
        <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备16043020号</a> <a href="/statics/images/www.jpg"
                                                                                     target="_blank">粤网文[2016]0915-135号</a><br>
        广州宁静海信息科技有限公司 <br>广州市天河区中山大道西140号华港商务大厦14楼<br>
        Copyright&copy;2014-2016 广州宁静海信息科技有限公司 All Rights Reserved.</p>
</div>

<!--#include file="/views/code.html" -->

</body>
</html>
<script>
    if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
        //alert(navigator.userAgent);
        $('.ui-btn-d2').hide();
        $('.ui-btn-d3').show().css('left','180px');
        $('#get-code').hide();
    } else if (/(Android)/i.test(navigator.userAgent)) {
        //alert(navigator.userAgent);
        $('.ui-btn-d2').show();
        $('.ui-btn-d3').hide();
    } else {
        window.location.href = "/";
    }
</script>
<script type="text/javascript">
    $(function () {
        var jcarousel = $('.jcarousel');

        jcarousel.on('jcarousel:reload jcarousel:create', function () {
                    jcarousel.jcarousel('items').width(jcarousel.innerWidth());
                })
                .jcarousel({
                    wrap: 'circular',
                    transitions: Modernizr.csstransitions ? {
                        transforms: Modernizr.csstransforms,
                        transforms3d: Modernizr.csstransforms3d,
                        easing: 'ease'
                    } : false
                })
                .jcarouselAutoscroll({
                    interval: 3000,
                    target: '+=1',
                    autostart: true
                });


        $('.jcarousel-pagination')
                .on('jcarouselpagination:active', 'a', function () {
                    $(this).addClass('active');
                })
                .on('jcarouselpagination:inactive', 'a', function () {
                    $(this).removeClass('active');
                })
                .on('click', function (e) {
                    e.preventDefault();
                })
                .jcarouselPagination({
                    item: function (page) {
                        return '<a href="#' + page + '">' + page + '</a>';
                    }
                });
    })

</script>
