<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=7"/>
    <title>{{title}} - 宁静海手游官网</title>
    <meta name="keywords" content="海量,福利">
    <meta name="description" content="{{pre}}">
    <link href="{{resLocation}}/statics/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="{{resLocation}}/statics/css/custom.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{{resLocation}}/statics/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{resLocation}}/statics/js/jquery.sgallery.js"></script>
    <script type="text/javascript" src="{{resLocation}}/statics/js/scroll.js"></script>
    <script type="text/javascript" src="{{resLocation}}/statics/js/index.js"></script>
</head>
<body>
<div id="main">
    <div style="DISPLAY: none" id=goTopBtn><img border=0 src="http://p.skymoons.com/statics/images/pkq/top_1.png"
                                                alt="返回皮卡丘官网顶部"></div>

    <div id="head_top">
        <div id="banner">
            <ul class="c-af ">
                <li class="split_01"></li>
                <li class="index">
                    <a href="/index.html">
                        <div class="tab_link"></div>
                    </a>
                </li>
                <li class="split_01"></li>
                <li class="news">
                    <a href="/newslist/index.html">
                        <div class="tab_link"></div>
                    </a>
                </li>
                <li class="split_01"></li>
                <li>
                    <img src="http://p.skymoons.com/statics/images/pkq/logo.png?v=20150813" alt="去吧皮卡丘手游"/>
                </li>
                <li class="split_01"></li>
                <li class="bbs">
                    <a href="javascript:void(0);" onClick="alert('暂未开启，敬请期待...');">
                        <div class="tab_link"></div>
                    </a>
                </li>
                <li class="split_01"></li>
                <li class="activity">
                    <a href="/activity/index.html">
                        <div class="tab_link"></div>
                    </a>
                </li>
                <li class="split_01"></li>
            </ul>
        </div>
    </div>

    <div id="main_content" class="page_content">

        <div id="main_left">
            <!-- <div id="news_list">-->
            <div id="news_lists" style="float:left;">

                <span class="btn_pic_more" style="font-size:12px;color:white;}"><div class="crumbs"><a
                        href="http://p.skymoons.com" title="去吧皮卡丘官网">首页</a><span> &gt; </span><a
                        href="http://p.skymoons.com/newslist/">新闻信息</a> > <a href="http://p.skymoons.com/news/">新闻</a> >
                </div></span>
            </div>
            <div id="show_content">
                <div style="border-bottom:1px dashed #BCB8B9;">
                    <br>

                    <h1>{{title}}</h1><br/>
                    <span>[{{date}}]</span>
                </div>
                <div class="content" style="border-bottom:1px dashed #BCB8B9; margin-top:20px;overflow:hidden;">
                    {{{content}}}
                </div>
                <p class="f14">
                    <strong>上一篇：</strong><a
                        href="http://p.skymoons.com/news/2016/0307/424.html">{{last_title}}</a><br/>
                    <strong>下一篇：</strong><a href="http://p.skymoons.com/news/2016/0311/426.html">{{next_title}}</a>
                </p>
            </div>

        </div>

        <div id="main_right">
            <div id="qr_box">
                <img src='{{resLocation}}/statics/images/qrcode.jpg'>
            </div>
            <div class="right_item_box">
                <div class="right_item_title">
                    <img src="http://p.skymoons.com/statics/images/pkq/t_img_yxgl.png" alt="去吧皮卡丘" /><a href="http://p.skymoons.com/yxgl/"><img  src="http://p.skymoons.com/statics/images/pkq/btn_more_01.png" alt="去吧皮卡丘攻略"/></a>
                </div>

                <!--#include file="/views/strategy.html" -->

                <div class="right_item_title">
                    <img src="http://p.skymoons.com/statics/images/pkq/t_img_yqlj.png" alt="" title="" />
                </div>
                <!--#include file="/views/links.html" -->

            </div>
        </div>
        <script type="text/javascript">
            var Marquee1 = new Marquee("friend_link");
            Marquee1.Direction = "top";
            Marquee1.Step = 3;
            Marquee1.Width = 280;
            Marquee1.Height = 280;
            Marquee1.Timer = 200;
            Marquee1.DelayTime = 0;
            Marquee1.WaitTime = 0;
            Marquee1.ScrollStep = 52;
            Marquee1.Start();
        </script>

    </div>
</div>


﻿
<div id="footer" class="c-af">
    <div id="footer_tip">
        <span class="tip_title">宁静海健康游戏公告：</span>抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活
    </div>
</div>
<p style="margin-bottom:20px;color:#d6d6d6;">Copyright&copy;2014-2016 广州宁静海信息科技有限公司 All Rights Reserved.</p>
</body>
</html>
 
