<div class="right_item_title">
    <img src="{{resLocation}}/statics/images/t_img_yxgl.png"  />
    <a href="/strategy/" class="more-btn">更多</a>
</div>
<ul class="yxgl_lst">
    {{#strategy}}
        <li>
            <a href="{{s_link}}" title="{{title}}">{{title}}</a>
        </li>
    {{/strategy}}
</ul>