<video id="my-video" class="video-js" controls preload="auto" width="260" height="215"
       data-setup="{}">
    <source src="{{videoUrl}}" type='video/mp4'>
    <p class="vjs-no-js">
        浏览器版本太低,请升级到
        <a href="http://videojs.com/html5-video-support/" target="_blank">支持HTML5的浏览器</a>
    </p>
</video>