<div ng-controller="StrategyEditCtrl">
    <div class="row">
        <div class="col-lg-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="title" class="col-sm-1 control-label">新闻标题</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="title" placeholder="新闻标题" ng-model="title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="author" class="col-sm-1 control-label">新闻作者</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="author" placeholder="新闻作者" ng-model="author">
                    </div>
                </div>
                <div class="form-group">
                    <label for="date" class="col-sm-1 control-label">发布时间</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="date" placeholder="发布时间" ng-model="date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="date" class="col-sm-1 control-label">新闻内容</label>

                    <div class="col-sm-9">
                        <div id="container"  config="ct" ng-model="content" lock-umeditor></div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button ng-click="edit()" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> 修改</button>
                        <a  class="btn btn-default" href='/#/strategy'><i class="fa fa-close"></i> 返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
