<div data-ng-controller="NewsActCtrl">
    <div class="row">
        <div class="col-xs-12 col-lg-1 col-md-2">
            <a href="#/news_act/add" class="btn btn-primary btn-sm"><span class="fa fa-plus"></span>添加活动</a>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="输入活动标题..." ng-model="keyword">
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" type="button" ng-click="search(keyword)">
                            <span class="fa fa-search"></span>搜索
                        </button>
                    </span>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-offset-1 col-sm-6" style="line-height: 30px;text-align: right">

            <button class="btn btn-sm btn-default" ng-click="jumpPrev()" ng-disabled="currentPage<=1"><span class="fa fa-arrow-left"></span></button>
            <button class="btn btn-sm btn-default" ng-click="jumpNext()" ng-disabled="totalCount/30<=1"><span class="fa fa-arrow-right"></span></button>
            共{{totalCount}}篇活动,当前页数:{{currentPage}}.
        </div>
        <div class="col-xs-6 col-md-2 col-sm-6 ">
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="输入页码..." ng-model="jPage">
                <span class="input-group-btn" ng-click="jump(jPage)">
                    <button class="btn btn-default btn-sm" type="button"><span class="fa fa-share"></span></button>跳转
                </span>
            </div>
        </div>
    </div>

    <div class="col-lg-12" id="no-more-tables">
        <table class="table table-striped ">
            <thead class="cf">
            <tr>
                <th>文章ID</th>
                <th>标题</th>
                <th>作者名称</th>
                <th>发表日期</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in dataList">
                <th>{{data.news_act_id}}</th>
                <td>{{data.title}}</td>
                <td>{{data.author}}</td>
                <td>{{data.date}}</td>
                <td>{{data.createdAt}}</td>
                <td>
                    <a href="#/news_act/edit/{{data.news_act_id}}" class="edit-btn"><span class="fa fa-edit"></span>编辑</a>
                    <a href="javascript:;" class="del-btn" ng-click="delete(data.news_act_id)"><span class="fa fa-trash"></span> 删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
    </div>
</div>
