<div data-ng-controller="InfoCtrl">
    <style>
        .vhidden{visibility: hidden;}
        #no-more-tables table td{vertical-align: middle;height: 42px;}
        #no-more-tables td input{font-size: 14px;padding: 2px;height: 24px;margin-left: -3px;width: 80%;}
    </style>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <ul class="nav nav-tabs ">
                    <li role="presentation" class="active"><a>资料栏目管理</a></li>
                    <li role="presentation"><a href="#/info/list">资料文章管理</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="white-box">
    <div class="row">
        <div class="col-xs-12 col-lg-1 col-md-2">
            <a ng-click="addShow=!addShow" class="btn btn-primary btn-sm"><span class="fa fa-plus"></span>添加栏目</a>
        </div>
        <div class="col-lg-4 col-md-4">
            <div ng-class="{vhidden:!addShow,'input-group':true}">
                <input type="text" class="form-control input-sm" placeholder="输入新增栏目名称..." ng-model="addName">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" type="button" ng-click="addChannel(addName)">
                            确定添加
                        </button>
                    </span>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-offset-1 col-sm-6" style="line-height: 30px;text-align: right">

        </div>
        <div class="col-xs-6 col-md-2 col-sm-6 ">

        </div>
    </div>

    <div class="col-lg-12" id="no-more-tables">
        <table class="table table-striped ">
            <thead class="cf">
            <tr>
                <th>栏目ID</th>
                <th width="18%">栏目名称</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in dataList">
                <th>{{data.channel_id}}</th>
                <td>
                    <span ng-if="!data.edit">{{data.name}}</span>
                    <input class="form-control input-sm" type="text" ng-model="data.newName" ng-if="data.edit">
                </td>
                <td>{{data.createdAt}}</td>
                <td>
                    <a  class="edit-btn" ng-click="data.edit=!data.edit" ng-if="!data.edit"><span class="fa fa-edit"></span>编辑</a>
                    <a class="del-btn" ng-click="delete(data.channel_id)" ng-if="!data.edit"><span class="fa fa-trash"></span>删除</a>
                    <a class="edit-btn" ng-if="data.edit" ng-click="editChannelT(data)"><span class="fa fa-check-square-o"  ></span>确定 </a>
                    <a class="edit-btn" ng-if="data.edit" ng-click="data.edit=!data.edit"><span class="fa fa-close"  ></span>取消 </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
