<div data-ng-controller="InfoArtListCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <ul class="nav nav-tabs ">
                    <li role="presentation" ><a href="#/info">资料栏目管理</a></li>
                    <li role="presentation"  class="active"><a>资料文章管理</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="white-box">
    <div class="row">
        <div class="col-xs-12 col-lg-1 col-md-2">
            <a href="#/info/add" class="btn btn-primary btn-sm"><span class="fa fa-plus"></span>添加文章</a>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1" style="position: relative;z-index: 99;border-right: 1px solid #ddd;"><i class="fa fa-filter"></i> 根据栏目筛选 </span>
                <select class="form-control input-sm" ng-model="channelId" id="cc" style="margin-left: -4px;"  ng-options="option.name for option in channelList track by option.value" ng-change="changeChannel()">
                </select>
                    <!--<span class="input-group-btn">-->
                        <!--<button class="btn btn-primary btn-sm" type="button" ng-click="filter(keyword)">-->
                            <!--<span class="fa fa-filter"></span>筛选-->
                        <!--</button>-->
                    <!--</span>-->
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-offset-1 col-sm-6" style="line-height: 30px;text-align: right">

            <button class="btn btn-sm btn-default" ng-click="jumpPrev()" ng-disabled="currentPage<=1"><span class="fa fa-arrow-left"></span></button>
            <button class="btn btn-sm btn-default" ng-click="jumpNext()" ng-disabled="totalCount/30<=1"><span class="fa fa-arrow-right"></span></button>
            共{{totalCount||0}}篇文章,当前页数:{{currentPage}}.
        </div>
        <div class="col-xs-6 col-md-2 col-sm-6 ">
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="输入页码..." ng-model="jPage">
                <span class="input-group-btn" ng-click="jump(jPage)">
                    <button class="btn btn-default btn-sm" type="button"><span class="fa fa-share"></span></button>跳转
                </span>
            </div>
        </div>
    </div>

    <div class="col-lg-12" id="no-more-tables">
        <table class="table table-striped ">
            <thead class="cf">
            <tr>
                <th>文章ID</th>
                <th>所属栏目</th>
                <th>标题</th>
                <th>小图标</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in dataList">
                <th>{{data.art_id}}</th>
                <td>{{data.channel_name}}</td>
                <td>{{data.title}}</td>
                <td><img ng-src="{{data.img}}" width="28" height="28"></td>
                <td>{{data.createdAt}}</td>
                <td>
                    <a href="#/info/edit/{{data.art_id}}" class="edit-btn"><span class="fa fa-edit"></span>编辑</a>
                    <a  class="del-btn" ng-click="delete(data.art_id)"><span class="fa fa-trash"></span> 删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
