#head_top{height: 460px;width: 1320px;margin: 0 auto;}
#main_content{width: 1320px;}

#main_left_side{float: left;width: 274px;margin-right: 16px;}

#footer{width: 1320px;margin-top: 0;}

#left_item_box{background: rgb(81,171,27);margin-top: 17px;}
#right_item_yxzl{height: auto;}


.news_list_item,.news_title a,.news_title a:visited,.line_c{color: #b4cdd3;}
#left_item_box {
    background: #1d2326;
    margin-top: 17px;
    padding-bottom: 30px;
}
.right_item_box{background: #1d2326;}

#jdtList img{width: 700px;}
.yxgl_lst{background: none;}


/*page*/
#main_content.page_content{
    width: 1040px;
    margin-top: 5px;
}

.page_content #main_left{
    margin-top: 5px;
}
.right_item_title{padding-top: 8px;}

.more-btn{
    color:rgb(53,143,175);
    position: absolute;
    right: 18px;
    bottom: 20px;
}
#news_list_title{position: relative;}
.right_item_title{position: relative}
.right_item_title .more-btn{bottom: 15px;}

.sub-title{float: left;line-height: 30px;color:rgb(53,143,175);font-size: 18px;margin-bottom: 4px;}

.news_thumb{border: 0;padding: 0;}

#list_content{
    margin-left: 0;
    width: 730px;
    height: auto;
}

#page_news_title{
    background: url(../images/bg_index_news_title.png);
    width: 748px;
}

.content{
    min-height: 600px;
}

body a,body a:visited,.crumbs a,.crumbs a:visited{
    color: #b4cdd3;
}
.crumbs{
    margin: 10px;
    text-align: left;
    font-size: 14px;
    padding: 10px 0;
}
.page_content #show_content{
    margin-left: 0;
    width: auto;margin-left: 0;margin-top: 0;
}
.page_content #news_list_title{width: 730px;margin-top: -25px;text-align: left;
    line-height: 102px;
    font-size: 24px;
    text-indent: 15px;
    color: #36a9d3;
}

#main_content.page_content #main_left #news_list{padding-left: 0;}

.thumb_img{width: 28px;height: 28px;}

.yxgl_lst li a{color: #b4cdd3!important;}

#right_item_yxzl dd a,#footer_tip{color:#b4cdd3}